<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div [ngClass]="{'sidebar': true, 'list-group': true, 'list-group-flush': true}" id="sidebar-wrapper">
    <div class="logo-gsm">
        <img src="./../../../../assets/img/logoBlanc.png" alt="">
    </div>
    <header>GSM</header>
    <div class="nav-user-wrapper">
        <div class="media">
            <div class="media-left">
                <img src="./../assets/img/default-user.png" alt="">
            </div>
            <div class="media-body">
                <span class="media-heading">Ousmane Sakho</span>
                <div class="text-small">Developper JS FullStack</div>
            </div>
            <div class="media-right">
                <a href="" data-toggle="dropdown">
                    <i class="fas fa-caret-down"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" routerLink="/login/edit">Voir</a>
                        <a class="dropdown-item" routerLink="/admins">Gestion des admins</a>
                        <a class="dropdown-item" routerLink="">Paramètres</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="navigation">
        Navigation principale
    </div>
    <a class="list-group-item list-group-item-action" routerLink="/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i><span>Tableau de bord</span>
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/services" routerLinkActive="active">
        <i class="fas fa-clipboard-list"></i><span>Services</span>
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/clients" routerLinkActive="active">
        <i class="fas fa-user-alt"></i><span>Clients</span>
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/appointment" routerLinkActive="active">
        <i class="far fa-calendar-alt"></i><span>Render-vous</span>
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/vehicles" routerLinkActive="active">
        <i class="fas fa-car"></i><span>Véhicules</span>
    </a>
</div>
<!-- / nav -->
<nav>
    <div class="logo">

    </div>
    <ul class="navbar-nav">
        <div class="bar-top"></div>
        <li class="nav-item dropdown">
            <span class="nav-link" data-toggle="dropdown">
                <img src="./assets/img/france.png" alt="" width="30" height="30">
                <span>Français</span>
                <!-- <span style="margin-left: 5px;"><i class="fas fa-angle-down"></i></span> -->
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/">Français</a>
                    <!-- <a class="dropdown-item" routerLink="/admins">Gestion des admins</a>
                        <a class="dropdown-item" routerLink="/users/new-user">Paramètres</a>
                        <a class="dropdown-item" (click)="logout()">Déconnexion</a> -->
                </div>
            </span>
        </li>
    </ul>
</nav>
<div class="page-container">
    <div class="container">
        <h2>Ajouter un admin</h2>
        <hr>
        <form #form="ngForm" (ngSubmit)="submit(form.value)">
            <div *ngIf="createResult" class="alert alert-{{createResult.status}}">
                {{createResult.message}}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="control-label">
                            Prénom <span class="symbol required"></span>
                        </label>
                        <input type="text" name="firstName" id="firstName" class="form-control"
                            placeholder="Insérez votre prénom" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">
                            Nom <span class="symbol required"></span>
                        </label>
                        <input type="text" name="lastName" id="lasttName" class="form-control"
                            placeholder="Insérez votre nom" ngModel>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="control-label">
                            Adresse mail <span class="symbol required"></span>
                        </label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="E-mail" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">
                            Mot de passe <span class="symbol required"></span>
                        </label>
                        <input type="password" name="password" id="password" class="form-control" ngModel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <span class="symbol required"></span> Champ obligatoires
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-wide">Ajouter <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
